/* Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/* Colors */
:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}

:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
  --thierd-color: #0e2431;
  --skill-color: #4070f4;
  --menu-color: #0e2431;
  --box-color: 0 4px 25px rgba(14, 36, 49, 0.15);
  --gardient-color: linear-gradient(to right, #5001fb, #8e0af3);
  --header-color: #fff;
  --nav-color:#0e2431;
}

body.dark{
  --bg-black-900:#151515;
  --bg-black-100:#222222;
  --bg-black-50:#393939;
  --text-black-900:#ffffff;
  --text-black-700:#e9e9e9;
  --first-color: hwb(0 11% 13% / 0.747);
  --thierd-color: #f5f7f8fd;
  --skill-color: #f5f7f8fd;
  --menu-color: #f5f7f8fd;
  --header-color: #393939;
  background-color: var(--bg-black-100);
  color: var(--text-black-900);
  --box-color: 0 4px 25px rgba(218, 224, 229, 0.548);
  --nav-color:#f5f7f8fd;
}

/* FONT STYLE */
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --nomral-font-size: 0.938rem;
}

/* Media Screen Min-Width : 768px */
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --nomral-font-size: 1rem;
  }
}

/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */
*,
::before,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--nomral-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CUSTOM CSS CLASSES */

/* LAYOUT */
.bd_grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: var(--header-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/* Navbar */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: absolute;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav_items {
  margin-bottom: var(--mb-4);
}

.nav_link {
  position: relative;
  color: #fff;
}

.nav_link:hover {
  position: relative;
  color: var(--skin-color);
}

.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--skin-color);
}

/*
.nav_logo {
  color: var(--nav-color);
}
*/

.nav_logo a:hover {
  color: var(--skin-color);
}


.nav_logo
{
    font-size: 30px;
    font-family:'Lucida Handwriting', cursive;
    text-transform: capitalize;
}

.nav_logo a
{
    color: var(--skin-color);
    font-weight: 700;
    padding: 9px 12px;
    font-size: 25px;
    letter-spacing: 5px;
    position: relative;
}
.nav_logo a span
{
    font-family:'Lucida Handwriting', cursive;
    font-size: 40x;
}

/*
.nav_logo a::before
{
    content: '';
    position: absolute;
    width: 137px;
    height: 33px;
    border-bottom: 2.5px solid var(--skin-color);
    border-left: 2.5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}


.nav_logo a::after
{
    content: '';
    position: absolute;
    width: 119px;
    height: 30px;
    border-top: 4px solid var(--skin-color);
    border-right: 4px solid var(--skin-color);
    top: 0;
    right: 0;
}
*/

.nav_toggle {
  color: var(--menu-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* ACTIVE MENU */
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--skin-color);
}

.show {
  right: 0;
}

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home_data {
  align-self: center;
}

.home_title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home_title-color {
  color: var(--skin-color);
}

.home_social {
  display: flex;
  flex-direction: column;
}

.home_social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--thierd-color);
}

.home_social-icon:hover {
  color: var(--skin-color);
}

.home_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
}

.home_img svg {
  width: 100%;
}

/* BUTTONS */
.button {
  display: inline-block;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  background: var(--gardient-color);
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--skin-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--skin-color);
}

/* ABOUT SECTION */

.about_container {
  row-gap: 2rem;
  text-align: center;
}

.about_subtitle {
  margin-bottom: var(--mb-2);
}

.about_img {
  justify-content: center;
}

.about_img svg {
  width: 300px;
  border-radius: 0.5rem;
}

.btn.hire-me {
  margin-left: 20px; /* Adjust the value to control the spacing */
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 525px;
    margin-right: -525px;
    position: relative;
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    transition: all 0.3s ease;
    background: var(--skin-color);
}
.btn:hover
{
    transform: scale(1.08);
    background: var(--skin-color);
}
.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .btn.hire-me {
    margin-left: 2;
  }
  
}

/* SKILLS */
.skills_container {
  row-gap: 2rem;
  text-align: center;
}

.skills_subtitle {
  margin-bottom: var(--mb-2);
}

.skills_text {
  margin-bottom: var(--mb-4);
}

.skills_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  /*box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);*/
  box-shadow: var(--box-color);
}

.skill_icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--skill-color);
}

.skills_name {
  display: flex;
  align-items: center;
}

.skill_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--skin-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skill_java {
  width: 95%;
}

.skill_scripting{
  width: 95%;
}

.skill_Js{
  width: 95%;
}

.skill_spring {
  width: 85%;
}

.skill_jenkins {
  width: 75%;
}

.skill_k8s {
  width: 85%;
}

/* WORK */

.work {
  text-align: center;
}

.work_container {
  row-gap: 2rem;
}

.work_img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.work_img img {
  transition: 1s;
  cursor: pointer;
}

.work_img img:hover {
  transform: scale(1.1);
}

/* Contact */

.control_input {
  width: 100%;
  font-size: var(--nomral-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.control_button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--nomral-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* Footer */
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer_title {
  font-size: 3rem;
  margin-bottom: var(--mb-4);
}

.footer_socials {
  margin-bottom: var(--mb-4);
}

.footer_icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav_items {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav_list {
    display: flex;
    padding-top: 0;
  }

  .nav_toggle {
    display: none;
  }

  .nav_link {
    color: var(--nav-color);
  }

  .home {
    height: 100vh;
  }

  .home_data {
    align-self: flex-end;
  }
  .home_social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home_social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home_img {
    width: 460px;
    bottom: 15%;
  }

  .home_img svg {
    width: 100%;
  }

  .about_container,
  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .about_img svg {
    width: 450px;
  }

  .work_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contact_form {
    width: 400px;
  }
  .contact_container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd_grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home_img {
    right: 10%;
  }
}

.style-switcher{
  position: fixed;
  right: 0;
  top: 60px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}
.style-switcher.open{
  transform: translateX(-25px);
}
.style-switcher .s-icon{
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 7.5px;
  cursor: pointer;
  transition: all 0.3 ease;
  border-radius: 50%;
}
.style-switcher .s-icon i{
  line-height: 40px;
}
.style-switcher .style-switcher-toggler{
  top: 0;
}
.style-switcher .day-night{
  top: 55px;
}
.style-switcher h4{
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.style-switcher .colors{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.style-switcher .colors span
{
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid red;
}
.style-switcher .color-1{
  background: #4070f4;
}
.style-switcher .color-2{
  background: #fa5b0f;
}
.style-switcher .color-3{
  background: #37b182;
}
.style-switcher .color-4{
  background: #ec1839;
}
.style-switcher .color-5{
  background: #dde80c;
}

/* CSS */
/* Style the contact information items */
.row1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap; 
}

.contact-info-item {
  text-align: center; 
  margin: 0 15px; 
  cursor: pointer;
  transition: transform 0.3s, color 0.3s; 
}

/* Style the icons within the contact information items */
.contact-info-item .icon {
  font-size: 24px; 
  color: #fff;
  margin-bottom: 10px; 
}

.contact-info-item p {
  font-size: 14px;
  color: #e8dfec; 
  margin: 0; 
}

.contact-info-item:hover .icon{
  transform: scale(1.1);
  color: var(--skin-color); 
}

/* Style the copyright notice */
.copyright {
  text-align: center;
  color: #fff; 
  padding: 20px 0; 
}

/* Media query for screens up to 768px (mobile screens) */
@media (max-width: 768px) {
  .row1 {
    flex-wrap: wrap; 
  }

  .contact-info-item {
    width: calc(33.3333% - 30px); 
    margin: 0 15px 20px; 
  }
}
